{{#modal-dialog translucentOverlay=true close='closeModal'}}
    <h2>Create a new Article</h2>
    <form {{action 'save' model on="submit"}}>
        <label for="title">Title</label>
        {{input value=model.title name="title"}}<br/>
        <label for="body__summary">Summary</label>
        {{textarea value=model.body__summary name="body__summary"}}<br/>
        <label for="body__value">Body</label>
        {{textarea value=model.body__value name="body__value"}}<br/>
        <button type="submit" class="button">Create</button>
        <button type="button" class="button" {{action 'closeModal'}}>Cancel</button>
    </form>
{{/modal-dialog}}
