<h2>{{model.title}}</h2>
<ul>
    <li>NID: {{model.nid}}</li>
    <li>UUID: {{model.uuid}}</li>
    <li>Created: {{model.createdDate}}</li>
    <li>Author: {{model.uid.name}}</li>
</ul>

{{#form-for model as |form|}}
    {{#fields-for model.body as |body|}}
        {{body.textarea-field "summary"}}
        {{body.textarea-field "value"}}
        {{body.select-field "format" "basic_html restricted_html full_html plain_text"}}
    {{/fields-for}}

    {{form.submit "Save"}}
{{/form-for}}
