{{outlet}}

<h2>All Articles</h2>

{{#link-to 'articles.new' class="button"}}New Article{{/link-to}}

{{#each model as |article|}}
    {{#if article.uuid}}
        <h3>{{#link-to "article" article}}{{article.title}}{{/link-to}}</h3>
        <ul>
            <li>Author: {{article.uid.name}}</li>
            <li>Created: {{article.createdDate}}</li>
            <li>NID: {{article.nid}}</li>
            <li>UUID: {{article.uuid}}</li>
        </ul>
    {{/if}}
{{/each}}
