<div class="expanded row">
    <div class="small-12 medium-8 columns">
        {{#form-for model submit=(action 'save') as |m|}}
            {{m.text-field "title"}}
            {{#fields-for model.body as |body|}}
                {{body.textarea-field "summary"}}
                {{body.textarea-field "value"}}
                {{body.select-field "format" "basic_html restricted_html full_html plain_text"}}
            {{/fields-for}}

            {{m.submit "Save" class="button"}}
        {{/form-for}}

        {{outlet}}
    </div>
    <div class="small-12 medium-4 columns">
        <ul>
            <li><i>Author:</i> {{model.uid.name}}</li>
            <li><i>Created</i>: {{model.createdDate}}</li>
            <li><i>NID</i>: {{model.nid}}</li>
            <li><i>UUID</i>: {{model.uuid}}</li>
        </ul>
    </div>
</div>
