<h2>{{model.title}}</h2>
<ul>
    <li>NID: {{model.nid}}</li>
    <li>UUID: {{model.uuid}}</li>
    <li>Created: {{model.created}}</li>
</ul>

<h3>Summary:</h3>
<p>{{model.body.summary}}</p>

<h3>Body:</h3>
<p>{{model.body.value}}</p>
