{{outlet}}

<h3>{{model.name}}</h3>
<ul>
    <li>UUID: {{model.id}}</li>
    <li>E-mail: {{model.mail}}</li>
</ul>

{{#each model.articles as |article|}}
    <h4>{{#link-to "article" article}}{{article.title}}{{/link-to}}</h4>
{{/each}}
